  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    main {
      display: flex;
      flex-direction: row;
      flex: auto;
    }

    article {
      flex: 2;
      overflow-y: auto;
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }

    aside {
      flex: 1;
      overflow-y: auto;
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }

    header,
    footer {
      flex: none;
      border: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }

    body>* {
      margin: 5px;
    }

    code {
      padding: 2px 4px;
      border-radius: 8px;
      background: #f9f2f4;
      color: #c7254e;
    }
